<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action !== 'Delete'; else elseTemplate">
    <mat-form-field>
    <input placeholder="{{action}} category" matInput [(ngModel)]="local_data.category"/>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} payment" matInput [(ngModel)]="local_data.payment"/>
    </mat-form-field>
    <mat-form-field >
      <input placeholder="{{action}} tag" matInput [(ngModel)]="local_data.tag"/>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} price" matInput [(ngModel)]="local_data.price"/>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="{{action}} date" matInput [(ngModel)]="local_data.date"/>
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
